.quote {
    font-family : fantasy;
    font-size: -webkit-xxx-large !important;
}

.title {
  font-family: fantasy;
  font-size: 29px;
  color: #c9302c !important;
}

@media (max-device-width: 700px) {
  .container, .contactFooterWidth {
        min-width: 390px;
  }
}

#p.container {
     background-image: #ffffff url('https://img1.wsimg.com/isteam/stock/100492/:/rs=w:538,h:269,cg:true,m/cr=w:538,h:269') repeat center center;
}

.contactText {
  font-family: fantasy;
  font-size: 26px;
  text-align: center;
}

@media (min-width: 800px){
.lPadding {
  padding-top: 65px;
  padding-bottom: 105px;
}
.contactContainer{
  height:100%;
}
}

.contactTitle {
  font-family: fantasy;
  font-size: 35px;
  color: #c9302c !important;
}
